@import '../../colors';

#task {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  height: 4rem;
  background-color: map-get($colors, primary);
  color: map-get($colors, innertext);

  button {
    background-color: map-get($colors, btn);
  }
}
#task-btns {
  display: flex;
  width: 8rem;
  justify-content: space-evenly;
}
#content {
  margin-left: 0.7rem;
  font-size: 1.5rem;
}

.strikethrough {
  text-decoration: line-through;
}
