@import "./colors";
* {
  background-color: map-get($colors, bg);
  color: map-get($colors, innertext);
}
.navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: map-get($colors, floating);
  button {
    margin: 0 1rem;
    background-color: map-get($colors, btn);
    a {
      text-decoration: none;
      background-color: map-get($colors, btn);
    }
  }
}

