/* You can add global styles to this file, and also import other style files */
@import "./app/colors";
html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: map-get($colors, bg);
  color: map-get($colors, innertext);
  display: flex;
  app-root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

