<div id="todo-wrapper">
  <div id="todo-input">
    <input type="text" #taskTitle (keyup.enter)="addTask(taskTitle)">
    <div>
      <button mat-button (click)="addTask(taskTitle)">Add</button>
    </div>
  </div>

  <div id="todo-tasks">
    <ul>
      <ng-template ngFor let-task [ngForOf]="tasks">
        <li>
          <app-task [task]="task" (deleteTaskEvent)="deleteTask($event)" (finishTaskEvent)="finishTask($event)" [ngStyle]="{'font-decoration': (task.status) ? 'line-through' : 'none'}"></app-task>
        </li>
      </ng-template>
    </ul>
  </div>
</div>
