<div id="wrapper">
  <div id="container">
    <div>
      <h1>
        Welcome to my portfolio!
      </h1>
      Here you can find different projects I worked on or am still working on. Like an old board game called Kalaha.
      <br>
      All of this is built entirely on Angular with a little bit of Material UI (mostly for buttons).
    </div>
    <br>
    <div>
      <h2>About me</h2>
      I'm Igor, currently finishing my apprenticeship at SINC GmbH as a software developer. I enjoy working in web and learning different technologies and concepts.
      <br>
      I have tried out multiple programming languages, to see how they feel and what they're like. I mostly worked with C# at SINC GmbH and Java at school.
      <br>
      For my personal projects I tend to use the language best suited for my goals. If I want to visualize something, I tend to use web frameworks and libraries, like React or Angular.
      <br>
    </div>
    <br>
    <div>
      I'm based in Germany, Rhineland-Palatine. Been living here since 2012.
      <br>
      I like sciences, especially astrophysics and quantum physics, even though I never got past the basics.
      <br>
      I also enjoy arts. I have a fine eye for good designs and can say what I like or don't like precisely.
      I also play guitar amateurly, both acoustic and electric.
    </div>
  </div>
</div>
<footer>
  <ul>
    <li>
      <a href="https://github.com/Galgarius">Github</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/igor-belov-2a2a75241/">Linkedin</a>
    </li>
  </ul>
</footer>
